<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Message Me
</h2>

<div class="ui grid">

  <div class="twelve wide column">
    <div class="ui fluid card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="chatroom-messages">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_with model: @message, url: message_path, class: 'ui reply form', remote: true do |form| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= form.text_field :body, placeholder: 'Enter a message...' %>
              <%= form.button id: 'submit_message_button' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui card chatbox">
      <div class="content">
        <div class="ui fluid inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

