@import "semantic-ui";

.chatbox {
  height: 450px;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

#messages {
  overflow: auto;
  height: 15em;
}

.input {
  #submit_message_button {
    display: none;
  }
}
