<div class="ui inverted small menu">
  <%= link_to 'Chatroom', root_path, class:"item"%>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="item">
      <%= link_to 'Sign in', login_path, class:"ui blue button"%>
    </div>
    <div class="item">
        <div class="ui orange button">Sign Up</div>
    </div>
  </div>
</div>