<div class="ui inverted small menu">
  <%= link_to 'Chatroom', root_path, class:"item"%>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <% if logged_in? %>
      <div class="ui dropdown item">
        <%= current_user.username %> <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to 'Log Out', logout_path, method: :delete, class:"item"%>
        </div>
      </div>
    <% else %>  
      <div class="item">
        <%= link_to 'Sign in or Sign Up', login_path, class:"ui orange button"%>
      </div>
    <% end %>
  </div>
</div>